<!DOCTYPE html>
<html>
<head>
  <title>Twitter using Hapi.js</title>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
 

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel ="stylesheet" type="text/css" href="public/custom.css">
  <script type="text/javascript" src="public/application.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


</head>
<body>

  <div class="container">
    <div class="row">
      <section class="col-xs-3 create">
        <h1>create</h1>
      </section>
      <div class="userinput col-xs-12">
        <form name="username" type="text" placeholder="Enter username"> </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <section class="col-xs-4 amend">
        <h3>amend</h3>
      </section>
      <section class="col-xs-4 view">
        <h3>view</h3>
      </section>
      <section class="col-xs-4 delete">
        <h3>delete</h3>
      </section>
    </div>
  </div>

</body>
</html>